<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005893937431-5glitlnh58g13pm7cfn02gmfqgnv3uhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005893937431-5glitlnh58g13pm7cfn02gmfqgnv3uhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDjFMiu5K3dSi25J_YeJFYy6-wp8tzmxLY</string>
	<key>GCM_SENDER_ID</key>
	<string>1005893937431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodku.NewFriend</string>
	<key>PROJECT_ID</key>
	<string>newfriend-ea103</string>
	<key>STORAGE_BUCKET</key>
	<string>newfriend-ea103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005893937431:ios:1e345212df25eae9a16f52</string>
	<key>DATABASE_URL</key>
	<string>https://newfriend-ea103.firebaseio.com</string>
</dict>
</plist>